@font-face {
    font-family: 'Norse';
    src: url('Norse-Bold.woff2') format('woff2');
    font-weight: bold; 
    font-style: normal;
}

*:not(dialog) {
  margin: 0;
}

.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.page-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.left-side {
    background-color: #f0f0f0;
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.left-side-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: relative;
}

.odin-logo {
    height: 2.5em;
    width: auto;
    mix-blend-mode: screen;
}

.odin-banner {
    position: absolute;
    top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 5em;
    background-color: rgba(0, 0, 0, .5);
}

.odin-banner p {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5em;
    font-family: Norse, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    mix-blend-mode: screen;
}

span.odin-background {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
}

.right-side {
    background-color: #eeeeee;
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-right {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    height: 37%;
    padding-left: 1.5rem;
}

.top-right p {
    width: 60%;
    margin-bottom: 1.5em;
}

.middle-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    height: 26%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.middle-right-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 15%;
    max-width: 60%;
    font-size: 18px;
    font-weight: bold;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    height: 37%;
    padding-left: 1.5rem;
}

.credit {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: .75em;
    position: absolute;
    bottom: 10px;
    color:rgba(255, 255, 255, 0.75)
}

#sign-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin-left: -.25rem;
}

input {
    padding: 8px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-account {
    margin-top: 1em;
    padding: 10px 20px;
    margin-bottom: 1em;
    background-color: #2b8677;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}